/.git
/backup
/modules/main/install
/cache/*
/managed_cache/*
/stack_cache/*
/.settings.php
/php_interface/dbconn.php
/html_pages/*
logs/
*.tar.gz
*.log
*log.txt
*.sql
*.csv
*.xml
*.dt
*.*_
*.gz
*.gz.?
*.zip
*.tar
*.swp
*.swo
*.xslx
*.docx
*.xls
*.doc
*.DS_Store
/modules/main/install/*
/catalog_export/*
/sounds
/updates/*
modules/landing/install/*
/wizards/*